{% extends 'BackStagelayout.html' %}
{% load static %}

{% block title %}
    揽件管理
{% endblock %}

{% block slider %}
    <!-- Page Sidebar -->
    <div class="page-sidebar">
        <a class="logo-box" href="/backstage/login/">
            <span>快递后台管理</span>
            <i class="icon-radio_button_unchecked" id="fixed-sidebar-toggle-button"></i>
            <i class="icon-close" id="sidebar-toggle-button-close"></i>
        </a>
        <div class="page-sidebar-inner">
            <div class="page-sidebar-menu">
                <ul class="accordion-menu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon icon-flash_on"></i><span>综合统计</span><i
                                class="accordion-icon fa fa-angle-left"></i>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="/backstage/statistic/time">按时间统计</a></li>
                            <li><a href="/backstage/statistic/company">按分公司统计</a></li>
                            <li><a href="/backstage/statistic/station">按分站统计</a></li>
                            <li><a href="/backstage/statistic/staff">按快递员统计</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/backstage/company/">
                            <i class="menu-icon icon-home"></i><span>分公司管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="/backstage/station/">
                            <i class="menu-icon icon-home2"></i><span>分站管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="/backstage/staff/">
                            <i class="menu-icon icon-person"></i><span>快递员管理</span>
                        </a>
                    </li>
                    <li class="active-page">
                        <a href="/backstage/Pack/">
                            <i class="menu-icon icon-add_box"></i><span>揽件管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="/backstage/deliverPack/">
                            <i class="menu-icon icon-send"></i><span>发货管理</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div><!-- /Page Sidebar -->
{% endblock %}

{% block PageContent %}
    <!-- Page Content -->
    <div class="page-content">
        <!-- Page Header -->
        <div class="page-header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <div class="logo-sm">
                            <a href="javascript:void(0)" id="sidebar-toggle-button"><i class="fa fa-bars"></i></a>
                        </div>
                        <div class="dropdown-toggle navbar-toggle">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <p>{{ admin_name }}</p>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/backstage/adminLogout/">登出</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="javascript:void(0)" id="toggle-fullscreen"><i class="fa fa-expand"></i></a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown user-dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    <h4>欢迎你：{{ admin_name }}</h4>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/backstage/adminLogout/">登出</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div><!-- /Page Header -->
        <!-- Page Inner -->
        <div class="page-inner">
            <div class="page-title">
                <h3 class="breadcrumb-header">综合统计</h3>
            </div>
            <div id="main-wrapper">
                <!-- altogether statistic -->
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-white stats-widget">
                            <div class="panel-body">
                                <div class="pull-left">
                                    <span class="stats-number">{{ al_statistic.company }}</span>
                                    <p class="stats-info">分公司总数</p>
                                </div>
                                <div class="pull-right">
                                    <i class="icon-home stats-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-white stats-widget">
                            <div class="panel-body">
                                <div class="pull-left">
                                    <span class="stats-number">{{ al_statistic.stations }}</span>
                                    <p class="stats-info">分站总数</p>
                                </div>
                                <div class="pull-right">
                                    <i class="icon-home2 stats-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-white stats-widget">
                            <div class="panel-body">
                                <div class="pull-left">
                                    <span class="stats-number">{{ al_statistic.staff }}</span>
                                    <p class="stats-info">快递员总数</p>
                                </div>
                                <div class="pull-right">
                                    <i class="icon-person stats-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-white stats-widget">
                            <div class="panel-body">
                                <div class="pull-left">
                                    <span class="stats-number">{{ al_statistic.packs }}</span>
                                    <p class="stats-info">包裹总数</p>
                                </div>
                                <div class="pull-right">
                                    <i class="icon-check_box stats-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Row -->
                <!-- table -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="panel panel-white">
                            <div class="panel-heading clearfix" style="position:relative ">
                                <h4 class="panel-title">包裹信息</h4>
                                <div class="">
                                    <div class="panel-body">
                                        <form class="form-inline" method="get">
                                            <div class="form-group">
                                                <label for="company">发货点：&nbsp;&nbsp;</label>
                                                <select class="form-control" id="company" name="company">
                                                    <option value="0">全部</option>
                                                    {% for company in companies %}
                                                        <option value="{{ company.id }}">{{ company.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="station">发货点快递站</label>
                                                <!-- Station Select Box -->
                                                <select id="station" name="station" class="form-control">
                                                    <option value="0">全部</option>
                                                    <!-- 这里的选项将由JavaScript填充 -->
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-danger">查 &nbsp;&nbsp; 找</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive invoice-table">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>快递单号</th>
                                            <th>包裹物品</th>
                                            <th>目的地</th>
                                            <th>重量</th>
                                            <th>收货人</th>
                                            <th>发货人</th>
                                            <th>价格</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for pack in pages %}
                                            <tr>
                                                <th scope="row">{{ pack.timestamp }}</th>
                                                <td>{{ pack.object_name }}</td>
                                                <td>{{ pack.destination_station.name }}</td>
                                                <td>{{ pack.weight }}</td>
                                                <td>{{ pack.recipient.username }}</td>
                                                <td>{{ pack.user.username }}</td>
                                                <td>{{ pack.Price }}</td>
                                                <td>
                                                    {% if status != 104 or status != 105 %}
                                                        <a class="btn btn-primary btn-xs"
                                                           href="/backstage/Pack/edit/{{ pack.timestamp }}/">编辑</a>
                                                    {% endif %}
                                                    <a class="btn btn-danger btn-xs"
                                                       href="/backstage/staff/delete/{{ pack.timestamp }}/"
                                                       onclick="return confirm('确定要退回么?')">退回</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="text-center">
                                        <span class="step-links">
                                            {% if pages.has_previous %}
                                                <a href="?page=1" class="btn btn-default">&laquo; 首页</a>
                                                <a href="?page={{ pages.previous_page_number }}"
                                                   class="btn btn-default">上一页</a>
                                            {% endif %}
                                            <a class="btn btn-default active" href="?page={{ pages.number }}">
                                                第 {{ pages.number }} 页，共 {{ pages.paginator.num_pages }} 页
                                            </a>
                                            {% if pages.has_next %}
                                                <a class="btn btn-default"
                                                   href="?page={{ pages.next_page_number }}">下一页</a>
                                                <a class="btn btn-default" href="?page={{ pages.paginator.num_pages }}">末页 &raquo;</a>
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Row -->

            </div><!-- Main Wrapper -->
            <!--footer -->
            <div class="page-footer">
                <p>Copyright &copy; All rights reserved.</p>
            </div>
        </div><!-- /Page Inner -->
    </div><!-- /Page Content -->
{% endblock %}

{% block js %}
    <script>

        $(document).ready(function () {
            // 读取保存的值
            var selected_station = localStorage.getItem('selected_station') || "{{ selected_station }}";
            var selected_company = localStorage.getItem('selected_company') || $("#company").val();

            function getStations(companyId) {
                $.ajax({
                    url: '/get_stations/',
                    data: {
                        'company': companyId
                    },
                    dataType: 'json',
                    success: function (data) {
                        var select = $("#station");
                        select.empty();

                        var allOption = $('<option></option>').attr('value', 0).text("全部");
                        if (selected_station == 0) {
                            allOption.attr('selected', 'selected');
                        }
                        select.append(allOption);

                        $.each(data, function (index, value) {
                            var option = $('<option></option>').attr('value', value.id).text(value.name);
                            if (selected_station == value.id) {
                                option.attr('selected', 'selected');
                            }
                            select.append(option);
                        });
                    }
                });
            }

            if (selected_company) {
                $("#company").val(selected_company);
                getStations(selected_company);
            } else {
                getStations(0);
            }

            $("#company").change(function () {
                var companyId = $(this).val();
                localStorage.setItem('selected_company', companyId);  // 保存选中的分公司
                if (companyId) {
                    getStations(companyId);
                }
            });

            $("#station").change(function () {
                var stationId = $(this).val();
                localStorage.setItem('selected_station', stationId);  // 保存选中的快递站
            });
        });
    </script>
{% endblock %}
