{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description"
          content="Author: OrbsTheme, Category: Transport, Logistics, Multipurpose, HTML, SASS, Bootstrap"/>

    <!-- title -->
    <title>{% block title %}{% endblock %}</title>

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <!-- box-icon CSS -->
    <link rel="stylesheet" href="../static/css/boxicons.min.css">
    <!-- flat-icon CSS -->
    <link rel="stylesheet" href="../static/css/flaticon.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="../static/css/animate.min.css"/>
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="../static/css/magnific-popup.min.css"/>
    <!-- owl-carousel CSS -->
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css"/>
    <!-- main style CSS -->
    <link rel="stylesheet" href="../static/css/style.css"/>
    <!-- responsive CSS -->
    <link rel="stylesheet" href="../static/css/responsive.css"/>
</head>
<body>
<!-- start preloader area -->
{% if error %}
{% else %}
    <div id="preloader">
        <span class="bounce1"></span>
        <span class="bounce2"></span>
        <span class="bounce3"></span>
    </div>
{% endif %}
<!-- end preloader area -->

{% block header %}
{% endblock %}

{% block section1 %}
{% endblock %}


{% block section2 %}
{% endblock %}

{% block section3 %}
{% endblock %}

{% block section4 %}
{% endblock %}

<footer class="footer-area pt-50">
    <div class="footer-top pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget">
                        <div class="navbar-brand">
                            <a href="/">
                                <h1 style="color: white;">XXX快递</h1>
                            </a>
                        </div>
                        <p>我们致力于为您的包裹提供最优质的服务而创立，在这里你可以体验到最安心的快递服务。<br>
                            我们一直在为您的体验而不断改进</p>
                    </div><!-- end footer-widget -->
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h3>联系我们</h3>
                        <ul class="info-list">
                            <li>
                                <i class="bx bxs-phone"></i>
                                <a href="电话:12345678901">+86 123 456 78901</a>
                                <br>
                                <a href="tel:09876543212">+86 123 456 78901</a>
                            </li>
                            <li>
                                <i class="bx bxs-envelope"></i>
                                <a href="mailto:hello@example.com">hello@example.com</a>
                                <br>
                                <a href="mailto:info@example.com">info@example.com</a>
                            </li>
                            <li>
                                <i class='bx bxs-map'></i>
                                中国 江苏省 南京市<br> 浦口区 南京信息工程大学
                            </li>
                        </ul>
                    </div><!-- end footer-widget -->
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end footer-top -->
</footer>
<!-- end footer area -->
<!-- start go to top area -->
<div class='go-top'><i class='bx bx-upvote'></i></div>
<!-- end go to top area -->
<!-- jquery JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'plugins/jquery/jquery-3.1.0.min.js' %}"></script>

<script src="../static/js/jquery.min.js"></script>
<!-- popper JS -->
<script src="../static/js/popper.min.js"></script>
<!-- bootstrap JS -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- waypoints JS -->
<script src="../static/js/jquery.waypoints.js"></script>
<!-- counter JS -->
<script src="../static/js/jquery.counterup.min.js"></script>
<!-- magnific popup JS -->
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<!-- mixitup JS -->
<script src="../static/js/jquery.mixitup.min.js"></script>
<!-- owl carousel JS -->
<script src="../static/js/owl.carousel.min.js"></script>
<!-- lazysizes JS -->
<script src="../static/js/lazysizes.min.js"></script>
<!-- form validator -->
<script src="../static/js/form-validator.min.js"></script>
<!-- contact form JS -->
<script src="../static/js/contact-form-script.js"></script>
<!-- ajax chimp JS -->
<script src="../static/js/jquery.ajaxchimp.min.js"></script>
<!-- script JS -->
<script src="../static/js/script.js"></script>
{% block js %}
{% endblock %}
</body>
</html>